/*Estilos da página index.html*/
.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
    
}
#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
    color: cornflowerblue;
}

.p_30 {
    padding: 30px;
}

.br_50{
    border-radius: 50%;
}

.wh_300{
    width: 500px;
    height: 350px;
}

.tm_social{
    width: 50px;
    height: 50px;
}

.mb_50 {
    margin-bottom: 50px;
}

/*Estilos da página contato.html*/

.ml_50 {
    margin-left: 50px;
}